# Port Backend REST API
PORT=3000

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=food_ordering

# Koneksi ke RPC Payment
RPC_HOST=localhost
RPC_PORT=4000

# Koneksi ke RMI Inventory
RMI_HOST=localhost
RMI_PORT=5000
